@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />
<script src="~/js/catalog.js" asp-append-version="true"></script>
<div id="output"></div>